* {
  font-family: "Royalacid";
}

@font-face {
  font-family: Royalacid;
  src: url(fonts/Royalacid.ttf);
}

@font-face {
  font-family: Bohemian Typewriter;
  src: url(fonts/Bohemian Typewriter.ttf);
}

@font-face {
  font-family: Waterloo Relief;
  src: url("fonts/Waterloo Relief.ttf");
}

@font-face {
  font-family: Enchanted Land;
  src: url("fonts/Enchanted Land.ttf");
}

body {
  background-color: #9FA5B5;
}
h1 {
  font-size: 300%; font-family: "Royalacid"; color: #887683;
}
p {
  color: #B5A6AB;
}
h2 {
  font-family: "Waterloo Relief"; color: #547DAF;
}
h3 {
  font-family: "Enchanted Land"; color: #8DA47E;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
